<div class="home">
	<div class="home-links">
		<ul>
			<li><%= link_to "Performance Extraordinaire", about_path %></li>
			<li><%= link_to "Clothing and Costumes", about_path %></li>
			<li><%= link_to "Upcoming Shows", shows_path %></li>
			<li><%= link_to "My Story", blogs_path %></li>
		</ul>
	</div>
	<div class="recomendations">
	</div>
</div>
