/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body, html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
}

div{
	.home {
		background-image: url(home_page_ebb.jpeg);
		background-repeat: no-repeat;
		background-size: contain;
		background-position: center;
		background-color: black;
		height: 100%;
		.recomendations {
			float: right;
		}
		.home-links {
			float: left;
			width: 53%;
			ul {
				li {
					list-style-type: none;
					margin: 11%;
					a {
						float: center;
						text-align: center;
						text-decoration: none;
						color: white;
						font-size: 30px;
						font-family: verdana;
						font-variant: all-petite-caps;
					}
					a:hover {
						background-color: transparent;
					}
				}
			}
		}
	}
}

.tickets{
	a {
		background-color: blue !important;
		color: white !important;
	}
}

.container {
	height: 85%;
	table {
		tbody {
			tr {
				td {
					a {
						background-color: black;
						color: lightgray;
						text-decoration: none;
						padding: 4px;
						text-align: center;
						margin: -5px;
					}
				}
			}
		}
	}
}

.head {
	width: 100%;
	background-color: teal;
	height: 53px;
}

.menu-bar {
	float: left;
	margin: 17px;
	a {
		color: white;
		text-decoration: none;
		padding: 18px;
		font-weight: bold;
	}
	a:hover {
		color: black;
		text-decoration: none;
		background-color: white;
	}
}

#logo {
	float: left;
	margin: 15px;
	text-align: center;
	color: white;
	text-decoration: none;
}

.footer {
	width: 100%;
	background-color: teal;
	height: 52px;
}

.right {
	float: right;
	margin: 17px;
	a {
		color: white;
		text-decoration: none;
		padding: 18px;
		font-weight: bold;
	}
	a:hover {
		color: black;
		text-decoration: none;
		background-color: white;
	}
}